body {
  background: linear-gradient(to top, white, black);
  border: 5px solid black;
  text-align: center;
}
ol, ol li { margin-left:0; padding-left:0; list-style-position:inside;
}
h3,p {
  color: black;
}
a {
  color: #900;
}
img {
   border:5px solid black;
}
h1  {
  color: white;
}
p {
  font-weight: bold;
}
h4 {
  font-size: 18px;
}
